<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

        <Appenders>
            <Console name="Console" target="SYSTEM_OUT">
                <PatternLayout pattern="[logId:%X{logId}] %d{yyyy/MM/dd HH:mm:ss} [%p] %c{1} (%F:%L) %msg%n" />
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
            </Console>

            <File name="LogFile" filename="logs/mylog.log">
                <PatternLayout pattern="[logId:%X{logId}] %d{yyyy/MM/dd HH:mm:ss} [%p] %c{1} (%F:%L) %msg%n" />
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
            </File>

        </Appenders>
        <Loggers>
            <Root level="info">
                <AppenderRef ref="Console" />
                <!-- <AppenderRef ref="LogFile" /> -->
            </Root>
        </Loggers>
</Configuration>